In [1]:
from functions import transform_functions as traf
from functions import preprossesing as prep
filename = "running-example"
ocel, act_dict, cust_dict = traf.prepare_ocel(filename)
col = ["Items","Products","Orders",]
# for c in col:
#     print(c)
#     print(np.unique([len(t) for t in ocel[c]]))
print(act_dict)
print(cust_dict)
# display(ocel.head())
drops_col_order = ["weight","price","Event_ID",'Products']
ocel_orders = traf.flatten(ocel,'Orders')
enriched_log, single_log = traf.gen_flatted_comp_csv(ocel_orders,'Orders',drops_col_order)

{'place order': 8, 'pick item': 7, 'confirm order': 0, 'item out of stock': 3, 'reorder item': 9, 'pay order': 5, 'create package': 1, 'send package': 10, 'failed delivery': 2, 'package delivered': 4, 'payment reminder': 6}
{'Marco Pegoraro': 12, 'Gyunam Park': 4, 'Majid Rafiei': 11, 'Junxiong Gao': 5, 'Seran Uysal': 14, 'Christina Rensinghof': 1, 'Wil van der Aalst': 16, 'Christine Dobbert': 2, 'Luis Santos': 8, 'Kefang Ding': 6, 'Mohammadreza Fani Sani': 13, 'Tobias Brockhoff': 15, 'Anahita Farhang Ghahfarokhi': 0, 'Mahnaz Qafari': 9, 'Claudia Graf': 3, 'Mahsa Bafrani': 10, 'Lisa Mannel': 7}

In [2]:
enriched_log

,Activity,Timestamp,Items,Customers,Packages,amount_of_items
Orders,,,,,,
990001,8,2019-05-20 09:07:47,"[880001, 880004, 880003, 880002]",12,,4
990002,8,2019-05-20 10:35:21,"[880008, 880005, 880006, 880007]",4,,4
990002,7,2019-05-20 10:38:17,[880006],4,,1
990001,0,2019-05-20 11:13:54,"[880001, 880004, 880003, 880002]",12,,4
990001,7,2019-05-20 11:20:13,[880002],12,,1
...,...,...,...,...,...,...
991976,10,2020-08-18 11:11:09,"[888072, 888071]",11,661324,2
991976,4,2020-08-19 17:57:32,"[888072, 888071]",11,661324,2
991983,1,2020-08-22 01:00:00,[888091],13,661325,1
991983,10,2020-08-24 11:14:47,[888091],13,661325,1
991983,4,2020-08-25 16:30:41,[888091],13,661325,1

In [ ]:
#### comparing if product and item match but is to hard to handle them

t1 = [len(t) for t in ocel['Items']]
t2 = [len(t) for t in ocel['Products']]
t3 = [a!=b for a, b in zip(t1, t2)]
print(ocel.size)
print(sum(t3))
print(sum(t3)/ocel.size)
print(len(t3) - sum(t3))
# display(ocel[t3])
# display(ocel[t3].explode('Products').groupby(['Products']).size().sort_values())
oceltemp = ocel[t3].copy()
t1 = [len(t) for t in oceltemp['Items']]
t2 = [len(t) for t in oceltemp['Products']]
t3 = [a!=b for a, b in zip(t1, t2)]
print(sum(t3))
df_agg = ocel.copy()
df_agg.Items = df_agg.Items.apply(len)
df_agg.Orders = df_agg.Orders.apply(len)
df_agg.Products = df_agg.Products.apply(len)
df_agg = df_agg.groupby('Packages').sum(numeric_only=True)
display(df_agg)